<body>
<form>
<h1> Welcome to your music library </h1>
<div> Enter the artist <input></input></div>

<div> Enter the album <input></input></div>

<div> Enter the song <input></input></div>

<p><button type = "submit">press it ya nerd</button></p>

</form>
</body>